// variables

//// 1) font-family

$Raleway: 'Raleway',
Arial,
sans-serif;

$Roboto: 'Roboto',
Arial,
sans-serif;

$Montserrat: 'Montserrat',
Arial,
sans-serif;

//// 2) color

$link-text: #c7b299;

//// 3) length

$wrapper-max-width: 1170px;

// common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: $Raleway;
    color: #ffffff;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: $wrapper-max-width;
    margin: 0 auto;
}

.h2-heading {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.link-span {
    color: $link-text;
}

/* header-slider-wrapper */

.header-slider-wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(./assets/header/main-bg.jpg);
    background-color: #484742;
    background-size: cover;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 285px;

    &-menu-and-buttons {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    &-menu {
        &-link {
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            text-decoration: none;
            color: white;
            margin: 0 15px;
        }

        &-link:hover {
            color: $link-text;
            transition-duration: 0.4s;
        }
    }

    &-buttons {
        width: 8%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &-button {
        outline: none;
        border: none;
        background: transparent;

        &:hover &-icon {
            fill: $link-text;
            transition-duration: 0.4s;
        }
    }

    &-search-window {
        width: 0;
        height: 0;
        border: none;
        outline: none;
        position: absolute;
        top: 30px;
        left: -145px;
    }

    &-search-window:focus {
        height: 20px;
        width: 200px;
        transition-duration: 0.3s;
    }
}

/* section - slider */

.slider {
    position: relative;
    text-align: center;
    margin-bottom: 330px;

    &-first-heading {
        font-size: 36px;
        font-weight: 500;
        color: white;
        margin-bottom: 14px;
    }

    &-second-heading {
        font-size: 52px;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 19px;
    }

    &-text-and-arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 52px;
    }

    &-text {
        width: 55%;
        font-family: $Montserrat;
        line-height: 24px;
        font-weight: 300;
    }

    &-left-arrow {
        margin: 20px;
        border: none;
        background: none;
        outline: none;
        display: block;
        width: 50px;
        height: 50px;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        transform: rotate(45deg);
    }

    &-right-arrow {
        margin: 20px;
        border: none;
        background: none;
        outline: none;
        display: block;
        width: 50px;
        height: 50px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transform: rotate(-45deg);
    }

    &-arrow:hover {
        border-color: $link-text;
        transition-duration: 0.4s;
    }

    &-arrow:active {
        opacity: 0.5;
        transition-duration: 0.2s;
    }

    &-get-started-button {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        background-color: #998675;
        color: white;
        border-radius: 3px;
        border: none;
    }

    &-get-started-button:hover {
        opacity: 0.7;
        background-color: white;
        color: #998675;
        transition-duration: 0.4s;
    }
}

/* section - pagination */

.pagination {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    &-button {
        padding: 7px;
        border: 1px solid white;
        opacity: 0.5;
        border-radius: 50%;
        margin: 0 7px;
        outline: none;

        &:focus {
            background: transparent;
            border: 1px solid white;
        }
    }
}

/* section - services */

.services {
    padding-top: 100px;
    padding-bottom: 80px;

    &-flexbox {
        display: flex;
        align-items: flex-end;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-image {
            margin-bottom: 30px;
        }

        &-heading {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
        }

        &-text {
            text-align: center;
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
            margin-bottom: 30px;
        }

        &:after {
            content: '';
            background: #f1eee9;
            width: 30%;
            border: 1px solid #f1eee9;
        }

        &:hover &-image-path {
            fill: #c7b299;
        }

        &:hover &-heading {
            color: #c7b299;
        }

        &:hover:after {
            border: 1px solid #c7b299;
        }
    }
}

/* section - waxom-is */

.waxom-is {
    background-color: #fbfaf8;
    text-align: center;
    padding-top: 85px;

    &-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 24px;
    }

    &-text {
        width: 70%;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 40px;
    }

    &-images {
        position: relative;

        &-left {
            display: block;
            position: absolute;
            bottom: 0px;
            left: -250px;
            z-index: 1;
        }

        &-central {
            display: block;
            position: relative;
            z-index: 2;
        }

        &-right {
            display: block;
            position: absolute;
            bottom: 0px;
            right: -250px;
            z-index: 1;
        }
    }
}

/* section - text-box */

.text-box {
    padding: 48px 0 49px 0;
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

    &-flexbox {
        display: flex;
        justify-content: space-between;
    }

    &-heading {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &-description {
        font-family: $Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855;
    }

    &-button {
        padding: 20px 29px;
        background-color: #998675;
        border-radius: 3px;
        border: none;
        color: white;
    }

    &-button:hover {
        opacity: 0.7;
        transition-duration: 0.4s;
        color: #998675;
        background-color: white;
    }
}

/* latest-projects-section */

.latest-projects {
    padding: 80px 0;
    text-align: center;

    &-heading {
        margin-bottom: 24px;
    }

    &-description {
        width: 60%;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 auto 40px;
    }

    &-categories {
        margin-bottom: 40px;
    }

    &-category {
        padding: 10px 25px;
        font-family: $Montserrat;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        background-color: white;
        margin: 0 5px;
    }

    &-category:hover {
        transition-duration: 0.4s;
        color: white;
        background-color: #998675;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: left;
        gap: 30px;
        margin-bottom: 40px;
    }

    &-project:hover &-buttons {
        display: block;
    }

    &-project:hover &-project-text {
        background-color: #362f2d;
    }

    &-project:hover &-project-title {
        color: white;
    }

    &-project:hover &-project-description {
        color: $link-text;
    }

    &-image-with-buttons {
        position: relative;
    }

    &-image {
        display: block;
    }

    &-buttons {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-button {
        padding: 5px;
        background-color: rgba($color: #263e4a, $alpha: 0.8);
        border: 3px solid rgba($color: #4a3226, $alpha: 0.8);
        border-radius: 50%;
        margin: 0 15px;
    }

    &-project-text {
        padding: 30px 0 27px 28px;
        background-color: #fbfaf8;
    }

    &-project-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #c7b299;
        margin-bottom: 14px;
    }

    &-project-description {
        font-family: $Montserrat;
        line-height: 20px;
        font-weight: 300;
        color: #d1d1d1;
    }

    &-load-more-button {
        padding: 20px 45px;
        background-color: #998675;
        border-radius: 3px;
        border: 1px solid #998675;
        line-height: 23px;
        font-weight: 800;
        color: #ffffff;
    }

    &-load-more-button:hover {
        opacity: 0.7;
        transition-duration: 0.4s;
        background-color: #ffffff;
        color: #998675;
    }
}

/* video-presentation-section */

.video-presentation {
    padding: 210px 0;
    background: url(./assets/video-presentation-section/video-presentation-bg.png);
    background-size: cover;
    background-color: black;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-button {
        background: transparent;
        border: none;
        margin-bottom: 44px;
    }

    &-play-icon {
        border: 15px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: 50%;
        display: block;
    }

    &-heading {
        color: white;
        font-weight: 500;
        margin-bottom: 29px;
    }

    &-description {
        width: 50%;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
    }

    &-duration {
        font-family: $Montserrat;
        color: $link-text;
    }
}

/* waxom-mobile-section */

.waxom-mobile {
    padding: 195px 0 183px 0;
    background: url(./assets/waxom-mobile-section/waxom_mobile_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    color: #8c8c8c;

    &-wrapper {
        margin-left: 45%;
    }

    .waxom-mobile-heading {
        margin-bottom: 40px;
    }

    .waxom-mobile-description {
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 45px;
    }

    .waxom-mobile-features {
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #8c8c8c;
        padding-left: 100px;
    }

    .waxom-mobile-feature {
        list-style: none;
        position: relative;
    }

    .waxom-mobile-feature::before {
        content: url(./assets/waxom-mobile-section/list_style_icon.png);
        position: absolute;
        top: 5px;
        left: -40px;
    }
}

/* counters-section */

.counters {
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

    &-wrapper {
        padding: 69px 0 92px 0;
        display: flex;
        justify-content: space-around;
    }

    &-counter {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &-image {
            margin-bottom: 30px;
        }

        &-amount {
            font-family: $Montserrat;
            font-size: 48px;
            line-height: 36px;
            font-weight: 200;
            margin-bottom: 21px;
        }

        &-title {
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #c7b299;
        }
    }

    &-counter::after {
        content: '';
        width: 30px;
        border-bottom: 3px solid white;
        position: absolute;
        bottom: -30px;
    }
}

/* recent-posts-section */

.recent-posts {
    padding: 82px 0 80px 0;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        margin-bottom: 30px;
    }

    &-description {
        width: 70%;
        text-align: center;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 40px;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;
        padding-bottom: 40px;
    }

    &-post {
        border: 1px solid #f8f8f8;
        position: relative;
    }

    &-image {
        display: block;
        width: 100%;
    }

    &-date {
        position: absolute;
        top: 20px;
        left: 20px;
        text-align: center;
    }

    &-day {
        padding: 10px;
        border-radius: 3px 3px 0 0;
        background-color: #363636;
        font-family: $Montserrat;
        font-size: 24px;
        line-height: 20px;
        font-weight: 300;
    }

    &-month {
        padding: 10px 5px;
        width: 100%;
        border-radius: 0 0 3px 3px;
        background-color: #252525;
        font-family: $Roboto;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }

    &-post-text {
        padding: 30px 44px 33px 29px;
        display: flex;
        flex-direction: column;
    }

    &-post-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #555555;
        margin-bottom: 20px;
    }

    &-post-description {
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 27px;
    }

    &-read-more-link {
        text-decoration: none;
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #c7b299;
    }

    &-post:hover &-day {
        background-color: #c7b299;
    }

    &-post:hover &-month {
        background-color: #a48d72;
    }

    &-post:hover &-post-text {
        background-color: #362f2d;
    }

    &-post:hover &-post-title {
        color: #c7b299;
    }

    &-post:hover &-post-description {
        color: white;
    }

    &-button {
        padding: 3px 6px;
        color: #c7b299;
        border: 1px solid #c7b299;
        border-radius: 50%;
        background-color: white;
        margin: 0 4px;
        position: relative;
    }

    &-button:hover {
        border-color: #d1d1d1;
        color: #d1d1d1;
    }
}

/* partners-section */

.partners {
    padding: 140px 0;
    background: url(./assets/partners-section/partners_bg.jpg);
    background-size: cover;

    &-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .partners-partner-link {}

    .partners-partner-logo {}
}

/* footer */

.footer {
    &-top-background {
        background-color: #191919;
    }

    &-top-wrapper {
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
    }

    &-column {
        flex-basis: 23%;
    }

    &-left-column-heading {
        margin-bottom: 30px;
    }

    &-column-heading {
        padding-top: 20px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 45px;
    }

    &-product-description {
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #555555;
        margin-bottom: 33px;
    }

    &-product-read-more-button {
        background-color: #191919;
        border: none;
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #d1d1d1;
    }

    &-recent-post {
        padding-bottom: 20px;
        border-bottom: 2px solid #252525;
        margin-bottom: 20px;
    }

    &-recent-post:last-child {
        margin-bottom: 0px;
        border: none;
        padding: 0;
    }

    &-recent-post-date {
        font-family: $Montserrat;
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: #363636;
        margin-bottom: 10px;
    }

    // &-recent-post-date:nth-child(even) {
    //     color: white;
    // }

    &-recent-post-description {
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
    }

    // &-recent-post-description:nth-child(even) {
    //     color: white;
    // }

    &-our-twitter-tweet {
        padding-bottom: 23px;
        border-bottom: 2px solid #252525;
        margin-bottom: 17px;
    }

    &-our-twitter-tweet:last-child {
        margin-bottom: 0px;
        border: none;
        padding: 0;
    }

    &-tweet-content {
        font-family: $Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
        margin-bottom: 11px;
    }

    &-tweet-link {
        text-decoration: none;
    }

    &-tweet-link-text {
        color: #959595;
    }

    &-tweet-to {
        color: #00bff3;
    }

    &-tweet-when {
        font-family: $Montserrat;
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: #363636;
    }

    &-widget-column-images {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, auto);
    }

    &-widget-image {
        display: block;
    }

    &-bottom-background {
        background-color: #111111;
    }

    &-bottom-wrapper {
        padding: 45px 0 52px 0;
        display: flex;
        justify-content: space-between;
    }

    &-bottom-left-column {
        display: flex;
    }

    &-bottom-left-text {
        padding-right: 10px;
        border-right: 1px solid #1e1e1e;
        font-family: $Montserrat;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
        margin-right: 10px;
    }

    &-bottom-left-text:last-child {
        padding-right: 0;
        border-right: none;
        margin-right: 0;
    }

    &-bottom-right-column {
        display: flex;
    }

    &-bottom-right-text {
        padding-right: 10px;
        border-right: 1px solid #1e1e1e;
        font-family: $Montserrat;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
        margin-right: 10px;
    }

    &-bottom-right-text:last-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }

    &-white-link {
        text-decoration: none;
        color: white;
    }

    &-gray-link {
        text-decoration: none;
        color: gray;
    }

    &-gray-link:nth-child(even) {
        color: $link-text;
    }
}