* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Raleway", Arial, sans-serif;
  color: #ffffff;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.h2-heading {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.link-span {
  color: #c7b299;
}

/* header-slider-wrapper */
.header-slider-wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url(./assets/header/main-bg.jpg);
  background-color: #484742;
  background-size: cover;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 285px;
}

.header-menu-and-buttons {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-link {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.header-menu-link:hover {
  color: #c7b299;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.header-buttons {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-button {
  outline: none;
  border: none;
  background: transparent;
}

.header-button:hover .header-button-icon {
  fill: #c7b299;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.header-search-window {
  width: 0;
  height: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 30px;
  left: -145px;
}

.header-search-window:focus {
  height: 20px;
  width: 200px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* section - slider */
.slider {
  position: relative;
  text-align: center;
  margin-bottom: 330px;
}

.slider-first-heading {
  font-size: 36px;
  font-weight: 500;
  color: white;
  margin-bottom: 14px;
}

.slider-second-heading {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 19px;
}

.slider-text-and-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

.slider-text {
  width: 55%;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 24px;
  font-weight: 300;
}

.slider-left-arrow {
  margin: 20px;
  border: none;
  background: none;
  outline: none;
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-right-arrow {
  margin: 20px;
  border: none;
  background: none;
  outline: none;
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider-arrow:hover {
  border-color: #c7b299;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.slider-arrow:active {
  opacity: 0.5;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.slider-get-started-button {
  padding: 20px 40px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  background-color: #998675;
  color: white;
  border-radius: 3px;
  border: none;
}

.slider-get-started-button:hover {
  opacity: 0.7;
  background-color: white;
  color: #998675;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* section - pagination */
.pagination {
  width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-button {
  padding: 7px;
  border: 1px solid white;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 7px;
  outline: none;
}

.pagination-button:focus {
  background: transparent;
  border: 1px solid white;
}

/* section - services */
.services {
  padding-top: 100px;
  padding-bottom: 80px;
}

.services-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-item-image {
  margin-bottom: 30px;
}

.services-item-heading {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.services-item-text {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.services-item:after {
  content: '';
  background: #f1eee9;
  width: 30%;
  border: 1px solid #f1eee9;
}

.services-item:hover .services-item-image-path {
  fill: #c7b299;
}

.services-item:hover .services-item-heading {
  color: #c7b299;
}

.services-item:hover:after {
  border: 1px solid #c7b299;
}

/* section - waxom-is */
.waxom-is {
  background-color: #fbfaf8;
  text-align: center;
  padding-top: 85px;
}

.waxom-is-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waxom-is-heading {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 24px;
}

.waxom-is-text {
  width: 70%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.waxom-is-images {
  position: relative;
}

.waxom-is-images-left {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -250px;
  z-index: 1;
}

.waxom-is-images-central {
  display: block;
  position: relative;
  z-index: 2;
}

.waxom-is-images-right {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -250px;
  z-index: 1;
}

/* section - text-box */
.text-box {
  padding: 48px 0 49px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.text-box-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-box-heading {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 8px;
}

.text-box-description {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.text-box-button {
  padding: 20px 29px;
  background-color: #998675;
  border-radius: 3px;
  border: none;
  color: white;
}

.text-box-button:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: #998675;
  background-color: white;
}

/* latest-projects-section */
.latest-projects {
  padding: 80px 0;
  text-align: center;
}

.latest-projects-heading {
  margin-bottom: 24px;
}

.latest-projects-description {
  width: 60%;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 40px;
}

.latest-projects-categories {
  margin-bottom: 40px;
}

.latest-projects-category {
  padding: 10px 25px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-color: white;
  margin: 0 5px;
}

.latest-projects-category:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: white;
  background-color: #998675;
}

.latest-projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  text-align: left;
  gap: 30px;
  margin-bottom: 40px;
}

.latest-projects-project:hover .latest-projects-buttons {
  display: block;
}

.latest-projects-project:hover .latest-projects-project-text {
  background-color: #362f2d;
}

.latest-projects-project:hover .latest-projects-project-title {
  color: white;
}

.latest-projects-project:hover .latest-projects-project-description {
  color: #c7b299;
}

.latest-projects-image-with-buttons {
  position: relative;
}

.latest-projects-image {
  display: block;
}

.latest-projects-buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.latest-projects-button {
  padding: 5px;
  background-color: rgba(38, 62, 74, 0.8);
  border: 3px solid rgba(74, 50, 38, 0.8);
  border-radius: 50%;
  margin: 0 15px;
}

.latest-projects-project-text {
  padding: 30px 0 27px 28px;
  background-color: #fbfaf8;
}

.latest-projects-project-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 14px;
}

.latest-projects-project-description {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.latest-projects-load-more-button {
  padding: 20px 45px;
  background-color: #998675;
  border-radius: 3px;
  border: 1px solid #998675;
  line-height: 23px;
  font-weight: 800;
  color: #ffffff;
}

.latest-projects-load-more-button:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #ffffff;
  color: #998675;
}

/* video-presentation-section */
.video-presentation {
  padding: 210px 0;
  background: url(./assets/video-presentation-section/video-presentation-bg.png);
  background-size: cover;
  background-color: black;
}

.video-presentation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-presentation-button {
  background: transparent;
  border: none;
  margin-bottom: 44px;
}

.video-presentation-play-icon {
  border: 15px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: block;
}

.video-presentation-heading {
  color: white;
  font-weight: 500;
  margin-bottom: 29px;
}

.video-presentation-description {
  width: 50%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}

.video-presentation-duration {
  font-family: "Montserrat", Arial, sans-serif;
  color: #c7b299;
}

/* waxom-mobile-section */
.waxom-mobile {
  padding: 195px 0 183px 0;
  background: url(./assets/waxom-mobile-section/waxom_mobile_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  color: #8c8c8c;
}

.waxom-mobile-wrapper {
  margin-left: 45%;
}

.waxom-mobile .waxom-mobile-heading {
  margin-bottom: 40px;
}

.waxom-mobile .waxom-mobile-description {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 45px;
}

.waxom-mobile .waxom-mobile-features {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  padding-left: 100px;
}

.waxom-mobile .waxom-mobile-feature {
  list-style: none;
  position: relative;
}

.waxom-mobile .waxom-mobile-feature::before {
  content: url(./assets/waxom-mobile-section/list_style_icon.png);
  position: absolute;
  top: 5px;
  left: -40px;
}

/* counters-section */
.counters {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.counters-wrapper {
  padding: 69px 0 92px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.counters-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.counters-counter-image {
  margin-bottom: 30px;
}

.counters-counter-amount {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  margin-bottom: 21px;
}

.counters-counter-title {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.counters-counter::after {
  content: '';
  width: 30px;
  border-bottom: 3px solid white;
  position: absolute;
  bottom: -30px;
}

/* recent-posts-section */
.recent-posts {
  padding: 82px 0 80px 0;
}

.recent-posts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-posts-heading {
  margin-bottom: 30px;
}

.recent-posts-description {
  width: 70%;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.recent-posts-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 30px;
  padding-bottom: 40px;
}

.recent-posts-post {
  border: 1px solid #f8f8f8;
  position: relative;
}

.recent-posts-image {
  display: block;
  width: 100%;
}

.recent-posts-date {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}

.recent-posts-day {
  padding: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
}

.recent-posts-month {
  padding: 10px 5px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.recent-posts-post-text {
  padding: 30px 44px 33px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-posts-post-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin-bottom: 20px;
}

.recent-posts-post-description {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 27px;
}

.recent-posts-read-more-link {
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.recent-posts-post:hover .recent-posts-day {
  background-color: #c7b299;
}

.recent-posts-post:hover .recent-posts-month {
  background-color: #a48d72;
}

.recent-posts-post:hover .recent-posts-post-text {
  background-color: #362f2d;
}

.recent-posts-post:hover .recent-posts-post-title {
  color: #c7b299;
}

.recent-posts-post:hover .recent-posts-post-description {
  color: white;
}

.recent-posts-button {
  padding: 3px 6px;
  color: #c7b299;
  border: 1px solid #c7b299;
  border-radius: 50%;
  background-color: white;
  margin: 0 4px;
  position: relative;
}

.recent-posts-button:hover {
  border-color: #d1d1d1;
  color: #d1d1d1;
}

/* partners-section */
.partners {
  padding: 140px 0;
  background: url(./assets/partners-section/partners_bg.jpg);
  background-size: cover;
}

.partners-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* footer */
.footer-top-background {
  background-color: #191919;
}

.footer-top-wrapper {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-column {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.footer-left-column-heading {
  margin-bottom: 30px;
}

.footer-column-heading {
  padding-top: 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 45px;
}

.footer-product-description {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 33px;
}

.footer-product-read-more-button {
  background-color: #191919;
  border: none;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

.footer-recent-post {
  padding-bottom: 20px;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px;
}

.footer-recent-post:last-child {
  margin-bottom: 0px;
  border: none;
  padding: 0;
}

.footer-recent-post-date {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin-bottom: 10px;
}

.footer-recent-post-description {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-our-twitter-tweet {
  padding-bottom: 23px;
  border-bottom: 2px solid #252525;
  margin-bottom: 17px;
}

.footer-our-twitter-tweet:last-child {
  margin-bottom: 0px;
  border: none;
  padding: 0;
}

.footer-tweet-content {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 11px;
}

.footer-tweet-link {
  text-decoration: none;
}

.footer-tweet-link-text {
  color: #959595;
}

.footer-tweet-to {
  color: #00bff3;
}

.footer-tweet-when {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.footer-widget-column-images {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.footer-widget-image {
  display: block;
}

.footer-bottom-background {
  background-color: #111111;
}

.footer-bottom-wrapper {
  padding: 45px 0 52px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom-left-text {
  padding-right: 10px;
  border-right: 1px solid #1e1e1e;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-right: 10px;
}

.footer-bottom-left-text:last-child {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}

.footer-bottom-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom-right-text {
  padding-right: 10px;
  border-right: 1px solid #1e1e1e;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-right: 10px;
}

.footer-bottom-right-text:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.footer-white-link {
  text-decoration: none;
  color: white;
}

.footer-gray-link {
  text-decoration: none;
  color: gray;
}

.footer-gray-link:nth-child(even) {
  color: #c7b299;
}
/*# sourceMappingURL=stylesheet.css.map */