// variables

//// 1) font-family

$Raleway: "Raleway",
Arial,
sans-serif;

$Roboto: "Roboto",
Arial,
sans-serif;

$Montserrat: 'Montserrat',
Arial,
sans-serif;

//// 2) color

$link-text: #c7b299;

//// 3) length

$wrapper-max-width: 1170px;

// common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: $Raleway;
    color: #ffffff;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: $wrapper-max-width;
    margin: 0 auto;
}

.h2-heading {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.link-span {
    color: $link-text;
}

/* header-slider-wrapper */

.header-slider-wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(./assets/header/main-bg.jpg);
    background-color: #484742;
    background-size: cover;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 285px;

    &-menu-and-buttons {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    &-menu {

        &-link {
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            text-decoration: none;
            color: white;
            margin: 0 15px;
        }

        &-link:hover {
            color: $link-text;
        }
    }

    &-buttons {
        width: 8%;
        display: flex;
        justify-content: space-between;
    }

    &-button {
        outline: none;
        border: none;
        background: transparent;
    }
}

/* section - slider */

.slider {
    position: relative;
    text-align: center;
    margin-bottom: 330px;

    &-first-heading {
        font-size: 36px;
        font-weight: 500;
        color: white;
        margin-bottom: 14px;
    }

    &-second-heading {
        font-size: 52px;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 19px;
    }

    &-text-and-arrows {
        position: relative;
    }

    &-left-arrow {
        padding: 0;
        font-size: 73px;
        border: none;
        background-color: inherit;
        color: white;
        font-weight: 100;
        position: absolute;
        top: -10px;
        left: 0px;
    }

    &-text {
        width: 55%;
        font-family: $Montserrat;
        line-height: 24px;
        font-weight: 300;
        margin: 0 auto 52px;
    }

    &-right-arrow {
        padding: 0;
        font-size: 73px;
        border: none;
        background-color: inherit;
        color: white;
        position: absolute;
        top: -10px;
        right: 0px;
    }

    &-get-started-button {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        background-color: #998675;
        color: white;
        border-radius: 3px;
    }
}

/* section - pagination */

.pagination {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    &-button {
        padding: 7px;
        border: 1px solid white;
        opacity: 0.5;
        border-radius: 100px;
        margin: 0 7px;
        outline: none;

        &:active {
            background: transparent;
        }
    }
}

/* section - services */

.services {
    padding-top: 100px;
    padding-bottom: 80px;

    &-flexbox {
        display: flex;
        align-items: flex-end;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-image {
            margin-bottom: 30px;
        }

        &-heading {
            margin-bottom: 20px;
        }

        &-text {
            text-align: center;
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
            margin-bottom: 30px;
        }

        &:after {
            content: "";
            background: #f1eee9;
            width: 30%;
            border: 1px solid #f1eee9;
        }

        &:hover &-image-path {
            fill: #c7b299;
        }

        &:hover &-heading {
            color: #c7b299;
        }

        &:hover:after {
            border: 1px solid #c7b299;
        }
    }
}

/* section - waxom-is */

.waxom-is {
    background-color: #fbfaf8;
    text-align: center;
    padding-top: 85px;

    &-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 24px;
    }

    &-text {
        width: 70%;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 40px;
    }

    &-images {
        position: relative;

        &-left {
            display: block;
            position: absolute;
            bottom: 0px;
            left: -250px;
            z-index: 1;
        }

        &-central {
            display: block;
            position: relative;
            z-index: 2;
        }

        &-right {
            display: block;
            position: absolute;
            bottom: 0px;
            right: -250px;
            z-index: 1;
        }
    }
}

/* section - text-box */

.text-box {
    padding: 48px 0 49px 0;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

    &-flexbox {
        display: flex;
        justify-content: space-between;
    }

    &-heading {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &-description {
        font-family: $Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855;
    }

    &-button {
        padding: 20px 29px;
        background-color: #998675;
        border-radius: 3px;
        color: white;
    }
}

/* latest-projects-section */

.latest-projects {
    padding: 80px 0;
    text-align: center;

    &-heading {
        margin-bottom: 24px;
    }

    &-description {
        width: 60%;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 auto 40px;
    }

    &-categories {
        margin-bottom: 40px;
    }

    &-category {
        padding: 10px 25px;
        font-family: $Montserrat;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        background-color: white;
        margin: 0 5px;
    }

    &-category:hover {
        color: white;
        background-color: #998675;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: left;
        gap: 30px;
        margin-bottom: 40px;
    }

    &-project:hover &-buttons {
        display: block;
    }

    &-project:hover &-project-text {
        background-color: #362f2d;
    }

    &-project:hover &-project-title {
        color: white;
    }

    &-project:hover &-project-description {
        color: $link-text;
    }

    &-image-with-buttons {
        position: relative;
    }

    &-image {
        display: block;
    }

    &-buttons {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-button {
        background: none;
        border: none;
        margin: 0 15px;
    }

    &-project-text {
        padding: 30px 0 27px 28px;
        background-color: #fbfaf8;
    }

    &-project-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #c7b299;
        margin-bottom: 14px;
    }

    &-project-description {
        font-family: $Montserrat;
        line-height: 20px;
        font-weight: 300;
        color: #d1d1d1;
    }

    &-load-more-button {
        padding: 20px 45px;
        background-color: #998675;
        border-radius: 3px;
        line-height: 23px;
        font-weight: 800;
        color: #ffffff;
    }
}

/* video-presentation-section */

.video-presentation {
    padding: 210px 0;
    background: url(./assets/video-presentation-section/video-presentation-bg.png);
    background-size: cover;
    background-color: black;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-button {
        background: transparent;
        border: none;
        margin-bottom: 44px;
    }

    &-play-icon {
        border: 15px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: 50%;
        display: block;
    }

    &-heading {
        color: white;
        font-weight: 500;
        margin-bottom: 29px;
    }

    &-description {
        width: 50%;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
    }

    &-duration {
        font-family: $Montserrat;
        color: $link-text;
    }
}

/* waxom-mobile-section */

.waxom-mobile {
    padding: 195px 0 183px 0;
    background: url(./assets/waxom-mobile-section/waxom_mobile_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #8c8c8c;

    &-wrapper {
        margin-left: 45%;
    }

    .waxom-mobile-heading {
        margin-bottom: 40px;
    }

    .waxom-mobile-description {
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 45px;
    }

    .waxom-mobile-features {
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #8c8c8c;
        padding-left: 10%;

    }

    .waxom-mobile-feature {}
}

/* counters-section */

.counters {
    background-color: black;

    .counters-counter {}

    .counters-number {}

    .counters-counter-title {}
}

/* recent-posts-section */

.recent-posts {
    .recent-posts-heading {}

    .recent-posts-description {}

    .recent-posts-container {}

    .recents-posts-post {}

    .recents-posts-image-with-date {}

    .recent-posts-date {}

    .recent-posts-day {}

    .recent-posts-month {}

    .recent-posts-post-title {}

    .recent-posts-post-description {}

    .recents-posts-read-more-link {}

    .recent-posts-buttons {}

    .recent-posts-left-button {}

    .recent-posts-right-button {}
}

/* partners-section */

.partners {
    .partners-partner-link {}

    .partners-partner-logo {}
}

/* footer */

.footer {
    .footer-product-column {}

    .footer-logo-container {}

    .footer-product-description.footer-text {}

    .footer-product-read-more-button {}

    .footer-recent-posts-column {}

    .footer-recent-posts-heading {}

    .footer-recent-post {}

    .footer-recent-post-date {}

    .footer-recent-post-description.footer-text {}

    .footer-our-twitter-column {}

    .footer-our-twitter-heading {}

    .footer-our-twitter-tweet {}

    .tweet-content {}

    .tweet-to {}

    .tweet-when {}

    .tweet-link {}

    .footer-widget-column {}

    .footer-widget-heading {}

    .footer-widget-image {}

    .footer-bottom {}

    .footer-site-useful-information {}

    .footer-text {}

    .footer-author-info {}
}