/* header-slider-wrapper */

.header-slider-wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../assets/header/main-bg.jpg);
    background-color: #484742;
    background-size: cover;
}