/* partners-section */

.partners {
    padding: 140px 0;
    background-color: #444446;
    background: url(../assets/partners-section/partners_bg.jpg);
    background-size: cover;

    &-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}