/* waxom-is-section */

.waxom-is {
    background-color: #fbfaf8;
    text-align: center;
    padding-top: 85px;

    &-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        margin-bottom: 24px;
    }

    &-text {
        @extend %text;
        width: 70%;
        line-height: 28px;
        color: #8c8c8c;
        margin-bottom: 40px;
    }

    &-images {
        position: relative;

        &-left {
            display: block;
            position: absolute;
            bottom: 0px;
            left: -250px;
            z-index: 1;
        }

        &-central {
            display: block;
            position: relative;
            z-index: 2;
        }

        &-right {
            display: block;
            position: absolute;
            bottom: 0px;
            right: -250px;
            z-index: 1;
        }
    }
}